<% if current_user.admin? %>
 
 <div class="container"> 
  <h1> Hello Admin! </h1>

  <%= link_to "View Pending Projects",  pending_path, :class => "btn btn-default" %>
  <%= link_to "Browse Projects",  board_path, :class => "btn btn-default" %>
</div>
<div class="container">         
  <h2> Approved Projects </h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Company</th>
        <th>Project Title</th>
        <th>Project Description</th>
      </tr>
    </thead>
    <tbody>
    <% @approved_projects.each do |project| %>  
      <tr>
        <%  company = User.find(project.user_id) %>
        <td><%= p company.name	%></td>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= link_to "View/Edit",  modal_path(project), remote:true , :class => "btn btn-success" %></td>
        <td><%= link_to 'Delete', project_path(project),
            data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger" %>       	
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% else %>
	 <div class="container">
	<%= link_to "Create Project", new_project_path , :class => "btn btn-warning" %>
  <%= link_to "Browse Projects",  board_path, :class => "btn btn-default" %>
  </div>

 <div class="container">

	<h1> Your Projects</h1>
	
	<% @current_user.projects.each_slice(3) do |projects| %>
	  <div class="row">
	    <% projects.each do |project| %>
	      <div class="col-md-4">
			<p><%= image_tag(project.image.thumb.url, alt: 'Image') if project.image? %></p>
			<p class="lead"> <%= project.title %> </p>
			<p class="lead"> <%= project.description %> </p>
			<%= link_to "View", project_path(project) , :class => "btn btn-success" %>
			<% if project.approved? == false %>
				<span class="badge badge-pill badge-danger">Pending Approval</span>
			<% else %>
				<span class="badge badge-pill badge-success">Approved!</span>
			<% end %>
	      </div>
	    <% end %>
	  </div>
	<% end %>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>